body{
    background-color: #f5f6f6;
    /* background-color: #1d2021; */
    /* color: #d1cdc7; */
    
}

.transition_class{
    transition-duration: 0.5s;
}

.darkBG{
    background-color: #181a1b;
}

.darkText{
    color: #d1cdc7;
}

.headings {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.styleFont {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

hr {
    background-color: #888888;
}

.ExperienceHead {
    color: #2194fd;
}

.ProjectHead {
    color: #00da74
}